@import url("https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap");

* {
  font-family: "Signika Negative", sans-serif;
}

.mySwiper {
  width: 100%;
  height: 60vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

@media (0px <= width <= 300px) {
  .mySwiper {
    height: 110vh;
  }
}

@media (300px <= width <= 812px) {
  .mySwiper {
    height: 110vh;
  }
}

@media (420px <= width <= 812px) {
  .mySwiper {
    height: 115vh;
  }
}

@media (812px <= width <= 1024px) {
  .mySwiper {
    height: 105vh;
  }
}
